@font-face {
    font-family: 'Humane';
    src: url('/font/Humane.ttf') format('truetype');
    font-weight: 600 900;
    font-style: normal;
}

:root {
    --font-body: 'Humane';
    --color-theme-1: rgb(251, 239, 224);
    --purple: rgb(95, 69, 242);
    --wheat: 246, 220, 194;
    --yellow: rgb(255, 227, 117);
    --gradient: linear-gradient(180deg, rgba(var(--wheat), 0) 50%, rgba(var(--wheat), 1) 100%);
    font-family: var(--font-body);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-theme-1);
}